body {
    background-color: black;
    margin-top: -100px;
}

#sarah {
    color: black;
    font-size: 10em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
    text-shadow:
        -2px -2px 0 #fff,
        2px -2px 0 #fff,
        -2px 2px 0 #fff,
        2px 2px 0 #fff;
}

.topnav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.topnav a:hover {
    background-color: white;
    color: black;
}

.topnav a.active {
    background-color: #F2133C;
    color: black;
}

.topnav .icon {
    display: none;
}

#bounce {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-left: 30px;
    margin-right: 100px;
    font-size: 25px;
    width: 550px;
}

.bounce {
    width: 340px;
    padding-left: 200px;
}

.item {
vertical-align: middle;
display: inline-block;
}

#safe {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-left: 30px;
    margin-right: 100px;
    font-size: 25px;
    width: 550px;
}

.safe {
    width: 340px;
    padding-left: 200px;
	margin-top: 30px;

}

.itemtwo {
   vertical-align: middle;
	display: inline-block;
}

#float {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-left: 30px;
    margin-right: 100px;
    font-size: 25px;
    width: 550px;
}

.float {
    width: 340px;
    padding-left: 200px;
	margin-top: 30px;
}

.itemthree {
   vertical-align: middle;
	display: inline-block;
}

#surf {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-left: 30px;
    margin-right: 100px;
    font-size: 25px;
    width: 550px;
}

.surf {
    width: 340px;
    padding-left: 200px;
	margin-top: 30px;
}

.itemfour {
   vertical-align: middle;
	display: inline-block;
}

#cover {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-left: 30px;
    margin-right: 100px;
    font-size: 25px;
    width: 550px;
}

.cover {
    width: 340px;
    padding-left: 200px;
	margin-top: 30px;
}

.itemfive {
   vertical-align: middle;
	display: inline-block;
}

i {
  border: solid white;
  border-width: 0 5px 5px 0;
   position: fixed;
	bottom: 80px;
  right: 70px;
  padding: 10px;
	

}

.arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
	
}
